name: ubuntu_wizard
description: Shared library for Ubuntu wizards.
publish_to: 'none'

environment:
  sdk: ">=2.12.0 <3.0.0"
  flutter: ">=1.20.0"

dependencies:
  args: ^2.2.0
  crypt: ^4.0.1
  dbus: ^0.6.0
  diacritic: ^0.1.3
  flutter:
    sdk: flutter
  flutter_localizations:
    sdk: flutter
  form_field_validator: ^1.1.0
  gsettings: ^0.2.0
  intl: ^0.17.0
  logger:
    path: ../logger
  password_strength: ^0.2.0
  provider: ^6.0.0
  subiquity_client:
    path: ../subiquity_client
  wizard_router: ^0.4.0
  yaru: ^0.1.4

dev_dependencies:
  build_runner: ^2.0.5
  effective_dart: ^1.3.2
  flutter_lints: ^1.0.0
  flutter_test:
    sdk: flutter
  mockito: 5.0.14
  ubuntu_test:
    path: ../ubuntu_test

flutter:
  plugin:
    platforms:
      linux:
        pluginClass: UbuntuWizardPlugin
