name: ubuntu_desktop_installer
description: Ubuntu Desktop Installer

# The following line prevents the package from being accidentally published to
# pub.dev using `pub publish`. This is preferred for private packages.
publish_to: 'none' # Remove this line if you wish to publish to pub.dev

# The following defines the version and build number for your application.
# A version number is three numbers separated by dots, like 1.2.43
# followed by an optional build number separated by a +.
# Both the version and the builder number may be overridden in flutter
# build by specifying --build-name and --build-number, respectively.
# In Android, build-name is used as versionName while build-number used as versionCode.
# Read more about Android versioning at https://developer.android.com/studio/publish/versioning
# In iOS, build-name is used as CFBundleShortVersionString while build-number used as CFBundleVersion.
# Read more about iOS versioning at
# https://developer.apple.com/library/archive/documentation/General/Reference/InfoPlistKeyReference/Articles/CoreFoundationKeys.html
version: 1.0.0+1

environment:
  sdk: '>=2.12.0 <3.0.0'

dependencies:
  flutter:
    sdk: flutter
  flutter_localizations:
    sdk: flutter
  subiquity_client:
    path: ../subiquity_client
  crypt: ^4.0.0
  diacritic: ^0.1.3
  filesize: ^2.0.0
  file: ^6.1.2
  flutter_html: ^2.0.0-nullsafety
  gsettings: ^0.1.2+1
  intl: ^0.17.0
  keyboard_info: ^0.1.0
  provider: ^5.0.0
  flutter_markdown: ^0.6.2
  scroll_to_index: ^2.0.0
  tuple: ^2.0.0
  url_launcher: ^6.0.3
  yaru: ^0.0.8

dev_dependencies:
  flutter_test:
    sdk: flutter
  build_runner: ^2.0.5
  effective_dart: ^1.3.1
  mockito: ^5.0.10

# For information on the generic Dart part of this file, see the
# following page: https://dart.dev/tools/pub/pubspec

# The following section is specific to Flutter.
flutter:
  generate: true

  # The following line ensures that the Material Icons font is
  # included with your application, so that you can use the icons in
  # the material Icons class.
  uses-material-design: true

  assets:
    - assets/
