name: Flutter CI

on:
  push:
    branches:
      - main
  pull_request:
    branches:
      - main
    
jobs:
  build:
    runs-on: ubuntu-20.04
    steps:
    
    - uses: actions/checkout@v1
    - uses: subosito/flutter-action@v1
      with:
        channel: 'dev'

    - name: Enable Linux desktop support
      run: flutter config --enable-linux-desktop

    # subiquity

    - name: Checkout subiquity
      run: git submodule update --init --recursive
    
    - name: Get subiquity dependencies
      working-directory: ./packages/subiquity_client/subiquity
      run: sudo apt update && make install_deps

    # subiquity_client

    - name: Get subiquity_client dependencies
      working-directory: ./packages/subiquity_client
      run: dart pub get
    
    - name: Run tests on subiquity_client
      working-directory: ./packages/subiquity_client
      run: flutter test --coverage

    - name: Upload coverage results
      uses: codecov/codecov-action@v1
      with:
        files: packages/subiquity_client/coverage/lcov.info
        token: ${{secrets.CODECOV_TOKEN}}

    # ubuntu_desktop_installer

    - name: Get ubuntu_desktop_installer dependencies
      working-directory: ./packages/ubuntu_desktop_installer
      run: flutter pub get
    
    - name: Run tests on ubuntu_desktop_installer
      working-directory: ./packages/ubuntu_desktop_installer
      run: flutter test --coverage

    - name: Upload coverage results
      uses: codecov/codecov-action@v1
      with:
        files: packages/ubuntu_desktop_installer/coverage/lcov.info
        token: ${{secrets.CODECOV_TOKEN}}

    # general

    - name: Check for any formatting issues
      run: flutter format --set-exit-if-changed .
    
    - name: Check for any analyzer issues
      run: flutter analyze .
