name: Flutter CI

on:
  push:
    branches:
      - main
  pull_request:
  workflow_dispatch:

jobs:
  build:
    runs-on: ubuntu-22.04
    steps:
    
    - uses: actions/checkout@v3
      with:
        submodules: recursive

    - uses: subosito/flutter-action@v2
      with:
        channel: 'stable'
        flutter-version: '3.7.x'

    - name: Install Melos
      run: flutter pub global activate melos 2.9.0

    - name: Install lcov
      run: sudo apt update && sudo apt install lcov

    # subiquity

    - name: Get subiquity dependencies
      working-directory: ./packages/subiquity_client/subiquity
      run: make install_deps

    - name: Check subiquity integration
      run: ./scripts/subiquity_integration

    - name: Prepare environment for subiquity
      run: |
        sudo loginctl enable-linger $USER
        sudo systemctl start user@$UID.service
        echo "XDG_RUNTIME_DIR=/run/user/$UID" >> $GITHUB_ENV

    # test all packages

    - name: Bootstrap workspace
      run: melos pub get
    
    - name: Run tests
      run: melos run coverage

    - name: Upload coverage results
      uses: codecov/codecov-action@v3
      with:
        token: ${{secrets.CODECOV_TOKEN}}

  analyze:
    runs-on: ubuntu-22.04
    steps:

    - uses: actions/checkout@v3
      with:
        submodules: recursive

    - uses: subosito/flutter-action@v2
      with:
        channel: 'stable'
        flutter-version: '3.7.x'

    - name: Install Melos
      run: flutter pub global activate melos 2.9.0

    - name: Bootstrap workspace
      run: melos pub get

    - name: Check for any formatting issues
      run: melos run format

    - name: Check for any analyzer issues
      run: melos run analyze

  generate:
    runs-on: ubuntu-22.04
    steps:

    - uses: actions/checkout@v3
      with:
        submodules: recursive

    - uses: subosito/flutter-action@v2
      with:
        channel: 'stable'
        flutter-version: '3.7.x'

    - name: Install Melos
      run: flutter pub global activate melos 2.9.0

    - name: Bootstrap workspace
      run: melos pub get

    - name: Generate source code
      run: melos run generate

    - name: Generate l10n files
      run: melos run gen-l10n

    - name: Warn about outdated generated files
      if: github.event_name == 'pull_request'
      run: |
        if [ -n "$(git status --porcelain)" ]; then
          git diff
          for f in $(git ls-files --modified); do
            echo "::warning ::$f may be outdated"
          done
          for f in $(git ls-files --others --exclude-standard); do
            echo "::warning ::$f may be untracked"
          done
          exit 1
        fi

    - name: Create PR for outdated generated files
      if: github.event_name == 'push'
      uses: peter-evans/create-pull-request@v5
      with:
        title: 'Regenerate files'
        commit-message: 'Regenerate files'
