name: Windows WSL Setup CI

on:
  push:
    branches:
      - main
    paths:
      - packages/subiquity_client/**
      - packages/ubuntu_wizard/**
      - packages/ubuntu_wsl_setup/**
      - .github/workflows/**
  pull_request:
    branches:
      - main
    paths:
      - packages/subiquity_client/**
      - packages/ubuntu_wizard/**
      - packages/ubuntu_wsl_setup/**
      - .github/workflows/**      
  workflow_dispatch:

jobs:
  build:
    runs-on: windows-latest
    steps:

    - uses: actions/checkout@v3
      with:
        submodules: recursive

    - uses: subosito/flutter-action@v2
      with:
        channel: 'stable'
        flutter-version: '3.7.x'

    - name: Build Windows Target
      working-directory: packages\ubuntu_wsl_setup\
      run: |
        flutter pub get
        flutter build windows -t .\lib\main_win.dart
